<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="taller_tiago.My.MySettings.taller_tiagoConnectionString"
            connectionString="Data Source=LAPTOP-N1H31PPE\RUTA66;Initial Catalog=taller_tiago;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>